.row-7-pictures-x1 {
  display: grid;
  grid-template-areas: "picture-1";
  grid-area: row-7;
  background-color: #191919;
  justify-items: start;
}

.row-7-picture-1 {
  padding-left: 45px;

  width: 25%;
  padding-bottom: 150px;
}
